# Assignment

## A few basic exercises
### Variable Assignment
* Try a program to display your name using a variable
* Try changing that variable in code itself to something else
* Try assiging one variable to other and changing one's value

In [ ]:
a= "name"
b= "surname"

# Write code to print the variable a 

############

# Write Code to Change variable a into 30

############

# Write Code to assign variable a the value of b

############

### Multiple Assignment

* Try Reversing the assignements i.e. new a should be 3, b should be 2 and c should be 1

In [ ]:
a,b,c = 1,2,3

## write a single line code to reverse a,b,c using multiple assignment

######
print(a,b,c)

### String

* Try reversing string in one line as compared to conventional loops

In [ ]:
string = "this is a test!"

## Write Code to reverse string in one line

##

print(string)

# Operators

You are provided with a list of Clubs in VJTI:
clubs = ['SRA' , 'Aero' , 'Racing' , 'DSC' , 'COC']
And a list of clubs you are a member of:
membership= ['SRA' , 'DSC']

You have to perform the following tasks:

1.   Create a boolean list respective to the clubs you are a member of without using the '==' operator:
Expected output: [true,false,false,true,false] HINT: use the membership operator

2.   Convert the boolean list into a list of binary one or zero without using the operator '=='. Expected output: [1,0,0,1,0]
HINT: Check out identity operator

In [ ]:
clubs = ['SRA' , 'Aero' , 'Racing' , 'DSC' , 'COC'] 
membership= ['SRA' , 'DSC']
# Write your code here

You are provided with the following:
expression = 4_6_9_3_23_19
Using the operators: +,-,*, /, % in places of the _ make an expression that reads the value: 25.0.

In [ ]:
expression = 4_6_9_3_23_19 
print(expression)

# write your code here

# Control Statements

Complete the for loop such that whenever there is an prime number it prints the number plus "I was a prime" in the same line, otherwise it prints nothing.  


Using the looping statement and the control statements

In [ ]:
for i in range(100):
  # Write Code here
    
  #Don't tamper the next line
  print("I was a prime")

# Lists

Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings. Go to the editor  
**Sample Input** :['abc', 'xyz', 'aba', '1221']   
**Sample Output** :2  
**Explanation** :'aba' and '1221' have length greater than 2 and also has matching first and last character.

In [ ]:
list1 = ['abc','xyz','aba','1221']
# Write your code here

Write a Python program to print the numbers of a specified list after removing even numbers from it.  
**Hint** : Use List Comprehension

In [ ]:
# Write your code here

# Dictionaries

Delete set of keys (keysToRemove) from a dictionary and display the resultant dictionary  
**Given** : The "sampleDict" dictionary has already been defined in the below code .

**Expected Output**:
{'city': 'New york', 'age': 25}

In [ ]:
# Given Dictionary
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}

# remove the keys present in the list below from the dictionary 
keysToRemove = ["name", "salary"]

# Write your code here

Write a program in Python to read the admission number, name of student and his/her stream of 10 students and create a dictionary from this information. print the dictionary

In [ ]:
# Write your code here

# Sets and Tuples

Check if two sets have any elements in common. If yes, display the common elements.

set1 = {10, 20, 30, 40, 50}

set2 = {60, 70, 80, 90, 10}


**Expected output:**

Two sets have items in common

{10}

In [3]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

# Write your code here to get common elements among them

Write a Python program to replace last value of tuples in a list.

**Sample list:** [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

**Expected Output:** [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [2]:
list1 = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

# Write your code here to replace last value of tuples in the list

## Functions

1) Write a function called ```showNumbers``` that takes a parameter called limit. It should print all the numbers between 0 and limit with a label to identify the even and odd numbers. For example, if the limit is 3, it should print:
* 0 EVEN
* 1 ODD
* 2 EVEN
* 3 ODD

In [ ]:
# Write Your code here

2) Write a function that takes limit(integer) as a paramter and prints all the prime numbers between 0 and limit.

In [ ]:
# Write your code here

# Classes and Objects

Write a Python Program to create a class named **Student**. 
- It should be initialised with attributes like **name, age, rollno, favourite subject**(a single subject).

- Write a class method **getDetails()** which prints the name, age and rollno of the object in the below format.
 
  * **Expected Output Format**
> Name   : <em>name</em></br>
> Age    : <em>age</em></br>
> RollNo : <em>rollno</em></br>

  * **Expected Example Output**
> Name : Gautam</br>
Age : 20</br>
RollNo : 68

- Now, there is a list **fav_list** such that it contains a list of subjects which are favourite to the Principal.

  ``` python
    fav_list = ["EG","Mechanics","Chemistry"]
  ``` 
- You have to write a class Method **isFav()** which returns a boolean value i.e either <em>**true**</em> if any of the favourite subject of the principal matches with that of the student. Think of some suitable logic here.

- Create 2 objects of class **Student** with attributes of your choice taken via user input.

- Call Both the methods for both the objects. **Note** - Print the result of the **isFav()** method.

- **Bonus Task** - Write the body of **isFav()** method in just one line.

In [1]:
# Write your code here